@import '/src/styles/colors.scss';

.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $main_brown;
    width: 50px;
    height: 50px;
    border-top: 2px solid $main_border_light;
    border-left: 2px solid $main_border_light;
    border-bottom: 2px solid $main_border_dark;
    border-right: 2px solid $main_border_dark;
}

.plank {
    width: 30px;
    height: 30px;
}
