$main_brown: #985D0A;
$main_border_light: #E0880B;
$main_border_dark: #694615;

$balls_brown: #f0d0a4;
$balls_border_light: #f5eada;
$balls_border_dark: #d09b51;

$main_text_color: #434343;
$background_color: #fff4e3;

$hit_background: #a2d8a0;
$miss_background: #f58989;
