@import './colors.scss';

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: $background_color;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
