@import '/src/styles/colors.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $main_brown;
    padding: 32px;
}

.field {
    //border: 2px solid $main_brown;
    background-color: $background_color;
}

.line {
    display: flex;
}

.topBalls {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.leftBalls {
    margin-right: 12px;
}

.rightBalls {
    margin-left: 12px;
}

.bottomBalls {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.buttonsContainer {
    display: flex;
    margin-top: 24px;
    justify-content: space-evenly;
}

.infoContainer {
    margin-top: 24px;
}
