@import '/src/styles/colors.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-top: 2px solid $balls_border_light;
    border-left: 2px solid $balls_border_light;
    border-bottom: 2px solid $balls_border_dark;
    border-right: 2px solid $balls_border_dark;
}

.target {
    width: 24px;
    height: 24px;
}

.normal {
    background-color: $balls_brown;
}

.hit {
    background-color: $hit_background;
}

.miss {
    background-color: $miss_background;
}
