@import '../../styles/colors.scss';

.container {
    width: 112px;
    height: 35px;
    background-color: $main_brown;
    border-radius: 7px;
    padding: 2px;
    cursor: default;
}

.innerContainer {
    border: 2px solid $main_border_light;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: $balls_brown;
    font-weight: bold;
}

.pressed {
    background-color: $balls_brown;
}

.pressed > .innerContainer {
    color: $main_brown
}
